# This file is originally from homeassistant/core and modified by pytest-homeassistant-custom-component.
astroid==2.15.4
mypy==1.4.1
pre-commit==3.3.3
pylint==2.17.4
types-atomicwrites==1.4.5.1
types-croniter==1.0.6
types-backports==0.1.3
types-chardet==0.1.5
types-decorator==5.1.8.3
types-enum34==1.1.8
types-ipaddress==1.0.8
types-paho-mqtt==1.6.0.6
types-pkg-resources==0.1.3
types-python-dateutil==2.8.19.13
types-python-slugify==0.1.2
types-pytz==2023.3.0.0
types-PyYAML==6.0.12.2
types-requests==2.31.0.1
