# This file is originally from homeassistant/core and modified by pytest-homeassistant-custom-component.
# linters such as flake8 and pylint should be pinned, as new releases
# make new things fail. Manually update these pins when pulling in a
# new version

# types-* that have versions roughly corresponding to the packages they
# contain hints for available should be kept in sync with them

-c homeassistant/package_constraints.txt
-r requirements_test_pre_commit.txt
coverage==6.2.0
freezegun==1.1.0
jsonpickle==1.4.1
mock-open==1.4.0
pipdeptree==2.2.1
pylint-strict-informational==0.1
pytest-aiohttp==0.3.0
pytest-cov==2.12.1
pytest-freezegun==0.4.2
pytest-socket==0.4.1
pytest-test-groups==1.0.3
pytest-sugar==0.9.4
pytest-timeout==2.1.0
pytest-xdist==2.4.0
pytest==6.2.5
requests_mock==1.9.2
responses==0.12.0
respx==0.19.0
stdlib-list==0.7.0
tqdm==4.49.0
homeassistant==2022.2.4
sqlalchemy==1.4.27

